<h1>Köszönjük a megrendelését</h1><br />
<h3>Az alábbi tételeket rendelte:</h3>
<% megr_ara = 0 %>
<table width="550">
	<% @aktualis_tetelek.each do |rekord| %>					<!--> a kosárban lévő tételek rekordjai az order_items táblából <-->
		<%tetel_termeke=Product.find(rekord.product_id.to_s)%>	<!--> termék rekordja a products táblából <-->
		<%tetel_darab=rekord.quantity%>							<!--> order_items táblából <-->
		<tr>
			<td width="110"><b>					<%= tetel_termeke.title %>						</b></td>	<!--> products táblából <-->
			<td align="right" width="100"><b>	<%= rekord.price %> Ft/db						</b></td>	<!--> order_items táblából - jóváhagyott ár <-->
			<td align="right" width="60"><b>	<%= tetel_darab %> db							</b></td>	<!--> order_items táblából <-->
			<td align="right" width="130"><b>	<%= tetelar=tetel_darab*rekord.price %> Ft/tétel</b></td>	<!--> order_items táblából <-->
			<td align="right" width="150">		<%= tetel_termeke.price %> (rossz)				</td>	<!--> products táblából - módosult ár <-->
			<% megr_ara += tetelar %>
		</tr>
	<%end%>
		<tr>
			<td align="right" colspan="4">	A megrendelés teljes összege: <b><%=megr_ara.to_s %> Ft</b></td>
		</tr>
</table>
<hr>
<h3>A megrendelő adatai:</h3>
<table width="230">
	<% form_for(@order) do |f| %>
		<%= f.error_messages %>
		<tr>	<td><strong>Név:</strong></td>			<td><%=h @order.name %></td>	</tr>
		<tr>	<td><strong>Város:</strong></td>		<td><%=h @order.town %></td>	</tr>
		<tr>	<td><strong>Irányítószám:</strong></td>	<td><%=h @order.zip %></td>		</tr>
		<tr>	<td><strong>Utca:</strong></td>			<td><%=h @order.street %></td>	</tr>
	<% end %>
</table>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>