<h1>Kosár</h1>

<br/><br/>
<table width="360" >
	<% @cart.each do |item| %>
	<tr><p>
		<td width="34%">
		<%= item.first.title%>
		</td>
		<td width="22%">
		<%= item.last.to_s + " db" %>
		</td>
		<td width="22%">
		<%= link_to "+1", cart_path(item.first), :method => :put %>
		</td>
		<td width="22%">
		<%= link_to "+10", update10_cart_path(item.first) %>
		</td>
		<td width="22%">
		<%= link_to "-1", cart_path(item.first), :method => :delete %>
		</td>
	</p></tr>
	<% end %>
</table>
    <br /><b><%= link_to "Újabb termék", products_path %></b>
    <br /><br /><%= link_to "Megrendelés", new_order_path %>
